<%- include('header') %>
<div class="container d-flex justify-content-center  min-vh-70 mt-100 mb-100">
    <div class="text-center border p-4">
        <h1>Order Successful</h1>
        <p>Your order has been placed successfully. Thank you for shopping with us!</p>
        <div class="mt-5">   
        </div>
        <div class="mt-5">    
        </div>
        <div class="mt-5">
            <a href="/" class="btn btn-primary">Continue Shopping</a> <!-- Link to the shopping page -->
        </div>
        <div class="mt-5">
            <a href="/orders" class="btn btn-primary">View Orders</a> <!-- Link to the orders page -->
        </div>
    </div>
</div>

<%-include('footer') %>